<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestCasesGridPrac">
    <classes>
      <class name="grid.Classedge"/>
      <class name="grid.Class1"/>
    </classes>
  </test> <!-- TestCasesGridPrac -->
</suite> <!-- Suite -->
